 .navbar_text span {
    color: #00B7FF;
}
 .manimenu a:hover {
     color: #00B7FF;
 }
  .manimenu li ul a:hover {
     color: #00B7FF !important;
 }
 .single-page-nav .current {
    color: #00B7FF !important;
}
 .slider-area .big-title {
     color: #00B7FF;
 }
  .slider-area .more-link {
     color: #00B7FF;
     border: 2px solid #00B7FF;
 }
  .slider-area .button a:hover {
     background: #00B7FF;
 }
  .slider-area .preview-2 .nivo-directionNav a.nivo-prevNav::before {
     color: #00B7FF;
 }
  .slider-area .preview-2 .nivo-directionNav a.nivo-nextNav::before {
     color: #00B7FF;
 }
  .nivo-nextNav::after {
     background: #00B7FF;
 }
  .nivo-nextNav::after {
     background: #00B7FF;
 }
  .nivo-prevNav::after {
     background: #00B7FF;
 }
 .onepage_slider .big-title .slide_st1{
    background: #00B7FF;
}
.onepage_slider_v2 .big-title span{
	color: #00B7FF;
}
.video-header .header_btn {
    background: #00B7FF;
    border: 2px solid #00B7FF;
}
.video-header .more-link::before {
    border: 2px solid #00B7FF;
}
.video-header .more-link {
	border: 2px solid #00B7FF;
}



 .about-section .abt_icon i {
     background: #00B7FF;
 }


 .services-box-2 {
     border-bottom: 1px solid #00B7FF;
 }
 .services-box-2 .number {
     color: #00B7FF;
 }

 .callto-hover {
     color: #00B7FF;
 }


 .pricing-box h2 {
     color: #00B7FF;
 }


 .project-filter ul li.active {
     color: #00B7FF;
 }
 .mask2 i {
     color: #00B7FF;
     border: 2px solid #00B7FF;
 }
 .mask2 h3 {
     color: #00B7FF;
 }


 .member .info {
     border-bottom: 1px solid #00B7FF;
 }
 .member .info .social i {
     background: #00B7FF;
 }

 #quote-carousel .item p:before {
     color: #00B7FF;
 }


 .client-section .owl-theme .owl-controls .owl-page.active span {
     background: #00B7FF;
 }

 .footer-section .recent-post-date {
     border: 1px solid #00B7FF;
     background: #00B7FF;
 }


 .widget_mailchimp .mc-embedded-subscribe {
     background: #00B7FF;
 }

 .contact_info ul li i {
     color: #00B7FF;
 }


 .blog-header h3 {
     color: #00B7FF;
 }

 .widget .widget-title {
     background: #00B7FF;
 }



 .widget-tags > a:hover {
     color: #00B7FF;
     border-color: #00B7FF;
 }

 .comments-section-title h4 {
     color: #00B7FF;
 }
 .form-control:focus {
     border-left: 1px solid #00B7FF;
 }

 #contactForm .submit-button:hover {
     color: #00B7FF;
     border: 3px solid #00B7FF;
 }

 #contactForm .submit-button {
     background: #00B7FF;
     border: 3px solid #00B7FF;
 }


 .social-icons-small li a:hover {
     background: #00B7FF;
     border: 1px solid #00B7FF;
 }






































































































































































































